@media only screen and (max-width: 768px) {

    #videocontainer {
        display: block;
        /* grid-template-columns:2fr 1fr;
        grid-template-areas:
        "left right"; */
    }

    .video_description_pane {
        /* grid-area: right; */
        height: calc(100vh - 32vh);
        width: 100%;
        overflow-y: auto;
    }
    .video_description_pane p {
        font-size: 2.1rem;
        font-weight: bold;
        text-align: left;
        /* overflow: hidden; */
        width: 80%;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        padding-bottom: 3vh;
    }

    .video_description_header  {
        height: 17%;
    }

    .video_description_pane h1 {
        font-size: 3.8rem;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .videoframe {
        /* grid-area: left; */
        height: 40vh;
    }
}


@media only screen and (min-width: 768px) {

    #videocontainer {
        display: grid;
        grid-template-columns:2fr 1fr;
        grid-template-areas:
        "left right";
    }

    .video_description_pane {
        grid-area: right;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }
    .video_description_pane p {
        font-size: 2.1rem;
        font-weight: bold;
        text-align: left;
        width: 80%;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }

    .video_description_header  {
        height: 17%;
    }

    .video_description_pane h1 {
        font-size: 3.8rem;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .videoframe {
        grid-area: left;
    }

}